* {
  box-sizing: border-box;
}

html, body {
  font: 100%/1.5 Roboto, Helvetica, sans-serif;
  margin: 0;
}

body {
  font-family: sans-serif;
  color: dimgray;
  background-color: beige;
}


/* Wrapper */
.page-wrap {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}


/* Header */
.header {
  text-align: center;
}

.header h1 {
  font-family: "Roboto Slab", Helvetica, sans-serif;
}


/* Camera */
.camera {
  margin-bottom: 1rem;
}

.camera video {
  display: block;
  width: 100%;

  background: palegoldenrod;
}


/* Controls */
.controls {
  margin-bottom: 1rem;
}

.controls .capture-image {
  padding: 1rem 3rem;
  border: none;
  width: 100%;

  font-family: Roboto, Helvetica, sans-serif;
  font-size: 1.5rem;
  background: sandybrown;
  color: white;

  -webkit-transition: background .25s ease;
  transition: background .25s ease;
}

.controls .capture-image:hover,
.controls .capture-image:focus {
  background: tomato;
}


/* Image list */
.snapshots {
  display: flex;
  flex-wrap: wrap;

  margin: 0 0 1rem 0;
  padding: 0;
}

.snapshots .snapshot {
  padding: .5rem;
  width: 33.33333%;
}

.snapshots img {
  display: block;
  width: 100%;
}


/* Form */
.form-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.form-group:first-child {
  padding: 0 1rem;
}

.form-group label {
  padding: .5rem 0;
  width: 25%;
}

.form-group input[type=radio] {
  margin-right: .5rem;
}

@media all and (max-width: 480px) {
  .form-group label {
    width: 50%;
  }
}
